<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email from Portfolio</title>
    <style>
      body {
        font-family: Arial, sans-serif;
      }
      .container {
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
        background-color: #f9f9f9;
      }
      .content {
        margin: 20px 0;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h4>hey, {{.Name}} this side.</h4>
      <p class="content">{{.Content}}</p>
      <h4>ty.</h4>
    </div>
  </body>
</html>
